@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-inter {
  font-family: var(--inter);
}

.text-my-font {
  font-family: var(--my-font);
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #d3d3d3;
  color: black;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
