@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-inter {
  font-family: var(--inter);
}

.text-my-font {
  font-family: var(--my-font);
}
